@font-face {
    font-family: 'TWKLausanne';
    src: url('../assets/fonts/TWKLausanne-400.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'TWKLausanne';
    src: url('../assets/fonts/TWKLausanne-500.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  